#itemListResults .done {
	text-decoration: line-through;
}


#itemListResults li {
	cursor: pointer;
}

#itemListResults .btn {
	padding: 6px;
}

.my-handle {
	cursor: move;
	cursor: -webkit-grabbing;
	margin-right: 10px;
}