*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100vh;
  font-size: 10px;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: $default;
  font-size: 1.2rem;
}

h1 {
  font-size: 3.2rem;
  color: black;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.heading {
  margin-bottom: $negative-space / 2;
}

button {
  color: $default;
  border: none;
  border-radius: $border-radius;
  background-color: transparent;
}

ul,
button {
  cursor: pointer;
}

input {
  width: 100%;
  padding: $negative-space / 3;
  border: 1px solid $light;
  border-radius: $border-radius;
}

button,
input,
span {
  font-size: 1.5rem;
  outline: none;
}
