@media all and (min-width: 768px) {
  body {
    margin: $negative-space;
  }

  .container {
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid $white;
    border-radius: $border-radius;
    box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.3);

    .header {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  #book-list-results {
    height: 240px;
    overflow-y: auto;
  }
}

@media all and (min-width: 1440px) {
  html {
    font-size: 13px;
  }

  .container {
    max-width: 550px;
  }

  #book-list-results {
    height: 300px;
  }
}
